.fullheight {
	min-height: 100vh;
}

.cursor-pointer{
	cursor: pointer;
}

.workspace {
	background-color: grey;
}

.workspace.selected {
	background-color: black;
}

.queue {
	background-color: #525252;
	font-weight: normal;
}

.queue.selected {
	background-color: #9a9a9a;
	font-weight: bold;
}

.task {
	background-color: #c3c3c3;
	font-weight: normal;
}

.task.selected {
	background-color: #eaeaea;
	font-weight: bold;
}