{% load static %}
{% load date_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static "/fontawesome/css/all.css" %}" >
	<link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/css/style.css" %}"></link>
	<title>{% block title %}Tasks{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
	<div class="nav bg-dark text-white p-2 border-bottom">
		{% if user.is_authenticated %}
			<p class="m-0">Welcome, {{ user.username }}. Thanks for logging in.</p>
		{% else %}
			<a class="m-0" href="/api-auth/login">Login</a>
		{% endif %}
	</div>
	{% verbatim %}
	<span id="app">
		<div class="container-fluid">
			<div class="row fullheight">
				<div class="col-sm-2 bg-dark">
					<div v-for="queue in queues" v-bind:class="[queue.id == queue_id ? 'bg-primary' : 'bg-secondary', 'p-2 mt-2 rounded-2']">
						<div class="col-sm-12 d-flex cursor-pointer text-white" v-on:click="selectQueue(queue)">
							<span style="margin-right: auto" class="cursor-pointer">{{ queue.title }}</span>
							<div class="btn" v-on:click="showUpdateQueueModal(queue)"><i class="fa fa-pen" ></i></div>
							<div class="btn" v-on:click="showDeleteQueueModal(queue)"><i class="fa fa-times-circle" ></i></div>
						</div>
					</div>
					<div class="mt-2">
						<div class="btn btn-success col-sm-12" v-on:click="showCreateQueueModal">Add</div>
					</div>
				</div>
				<div class="col-sm-2 bg-dark">
					<div v-for="listTask in tasks" v-bind:class="[listTask.id == task.id ? 'bg-primary' : 'bg-secondary', 'p-2 mt-2 rounded-2']">
						<div class="col-sm-12 d-flex cursor-pointer text-white" v-on:click="selectTask(listTask)">
							<span style="margin-right: auto" class="cursor-pointer">{{ listTask.title }}</span>
						</div>
					</div>
					<div class="mt-2">
						<div class="btn btn-success col-sm-12" v-on:click="addTask">Add</div>
					</div>
				</div>
				<div class="col-sm-8 bg-dark">
					<div class="d-flex my-2 text-white bg-dark">
						<input class="form-control" style="margin-right: auto" v-model="task.title">
						<div v-if="Object.keys(taskSaveDict).length" class="text-white btn" v-on:click="saveTask(task)"><i class="fa fa-spin fa-save" ></i></div>
						<div class="btn text-white" v-on:click="showRemoveTaskModal(task)"><i class="fa fa-times-circle" ></i></div>
					</div>
					<div class="d-flex h-75 text-white bg-dark">
						<textarea class="form-control w-100 h-100" v-if="task" v-model="task.details">
						</textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="createModalLabel">{{ form.title }}</h5>
					</div>
					<div v-if="form.fields.length" class="modal-body">
						<div class="form-group" v-for="field in form.fields">
							<label for="{{ field.name }}">{{ field.name | capitalize }}</label>
							<input type="text" v-model="field.value" class="form-control" v-bind:id="'form_' + field.name" aria-describedby="{{ field.name }}" v-bind:placeholder="'Enter ' + field.name">
						</div>
					</div>
					<div class="modal-footer">
						<button v-for="button in form.buttons" type="button" class="btn btn-primary" v-on:click="handleModal(button)">{{ button.title }}</button>
						<button type="button" class="btn btn-secondary" v-on:click="handleModal()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</span>
	{% endverbatim %}*
	<script src="{% static "/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "/js/bootstrap.min.js" %}"></script>
	<script src="{% static "/js/moment-with-locales.min.js" %}"></script>
	<script src="{% static "/js/vue.min.js" %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			axios.defaults.headers.common['X-CSRFTOKEN'] =
				document.querySelector("[name=csrfmiddlewaretoken]").value;
			app = new Vue({
				el: "#app",
				data: {
					queues: [],
					queue_id: null,
					tasks: [],
					task: {},
					taskSaveDict: {},
					form: {
						title: "",
						fields: [],
						buttons: []
					}
				},
				mounted () {
					this.listQueues();
					this.timer = setInterval(this.saveChangedTasks, 10000);
				},
				methods: {
					selectQueue(queue) {
						this.queue_id = queue.id;
					},
					selectTask(task) {
						this.task = task;
					},
					refreshData(array, url) {
						self = this;
						axios.get(url)
						.then(function (response) {
							self[array] = response.data;
						})
						.catch(function (error) {
							console.log(error);
						});
					}, 
					listQueues() {
						this.refreshData("queues", "/api/queues/");
					},
					listTasks() {
						this.refreshData("tasks", "/api/queues/" + this.queue_id + "/tasks/");
					},
					showCreateQueueModal() {
						this.form = {
							title: "Add Queue",
							fields: [
								{name: "title", value: ""}
							],
							callback: this.listQueues,
							buttons: [
								{
									title: "Add",
									method: "post",
									url: "/api/queues/"
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					showUpdateQueueModal(queue) {
						this.form = {
							title: "Update Queue",
							fields: [
								{name: "title", value: queue.title}
							],
							callback: this.listQueues,
							buttons: [
								{
									title: "Update",
									method: "put",
									url: "/api/queues/" + queue.id + "/"
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					showDeleteQueueModal(queue) {
						this.form = {
							title: "Delete Queue",
							fields: [],
							callback: this.listQueues,
							buttons: [
								{
									title: "Delete",
									method: "delete",
									url: "/api/queues/" + queue.id + "/"
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					addTask() {
						self = this;
						axios({
							method: "post",
							url: "/api/queues/" + this.queue_id + "/tasks/",
							data: {title: "New task"}
						})
						.then(function (response) {
							len = self.tasks.push(response.data);
							self.task = self.tasks[len-1];
						})
						.catch(function (error) {
							console.log(error);
						});
					},
					saveTask(task) {
						axios({
							method: "put",
							url:  "/api/tasks/" + task.id + "/",
							data: task
						})
						.then(function (response) {
						})
						.catch(function (error) {
							console.log(error);
						});
					},
					saveChangedTasks() {
						for (var key in this.taskSaveDict) {
							this.saveTask(this.taskSaveDict[key]);
						}
						this.taskSaveDict = {};
					},
					showRemoveTaskModal(task) {
						this.form = {
							title: "Remove Task From Queue",
							fields: [],
							callback: this.listTasks,
							buttons: [
								{
									title: "Remove",
									method: "delete",
									url: "/api/queues/" + this.queue_id + "/tasks/" + task.id + "/"
								},
								{
									title: "Remove from all",
									method: "delete",
									url: "/api/tasks/" + task.id + "/"
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					handleModal(button) {
						jQuery("#createModal").modal("hide");
						if (!button) {
							return;
						}
						var payload = {};
						for (field of this.form.fields) {
							payload[field.name] = field.value;
						}
						self = this;
						axios({
							method: button.method,
							url: button.url,
							data: payload
						})
						.then(function (response) {
							self.form.callback();
						})
						.catch(function (error) {
							console.log(error);
						});
					},
				},
				filters: {
					capitalize: function (value) {
						if (!value) return ''
						value = value.toString()
						return value.charAt(0).toUpperCase() + value.slice(1)
					}
				},
				watch: {
					queue_id: function (val) {
						this.listTasks(val);
					},
					task: {
						handler(oldTask, newTask) {
							// Check that the change is not due to selecting
							// a different task
							if (oldTask.id == newTask.id) {
								this.taskSaveDict[newTask.id] = newTask;
							}
						},
						deep:true
					}
				},
			});
		});
	</script>
	{% block bottom %}
		{% csrf_token %}
	{% endblock %}
</body>
</html>