{% load static %}
{% load date_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static "/fontawesome/css/all.css" %}" >
	<link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/css/style.css" %}"></link>
	<title>{% block title %}Tasks{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body>
	<div class="nav bg-dark text-white p-2">
		{% if user.is_authenticated %}
			<p class="m-0">Welcome, {{ user.username }}. Thanks for logging in.</p>
		{% else %}
			<a class="m-0" href="/api-auth/login">Login</a>
		{% endif %}
	</div>
	{% verbatim %}
	<span id="app">
		<div class="container-fluid">
			<div class="row fullheight">
				<div class="col-sm-2 bg-primary fullheight">
					<div v-for="queue in queues">
						<span>{{ queue.title }}</span>
						<div class="btn" v-on:click="showUpdateQueueModal(queue)"><i class="fa fa-pen" ></i></div>
					</div>
					<div class="btn btn-secondary" v-on:click="showCreateQueueModal">Add</div>
				</div>
				<div class="col-sm-2 bg-secondary">
					b
				</div>
				<div class="col-sm-8 bg-info">
					c
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="createModalLabel">{{ form.title }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group" v-for="field in form.fields">
							<label for="{{ field.name }}">{{ field.name | capitalize }}</label>
							<input type="text" v-model="field.value" class="form-control" v-bind:id="'form_' + field.name" aria-describedby="{{ field.name }}" v-bind:placeholder="'Enter ' + field.name">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" v-on:click="handleModal">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</span>
	{% endverbatim %}*
	<script src="{% static "/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "/js/bootstrap.min.js" %}"></script>
	<script src="{% static "/js/moment-with-locales.min.js" %}"></script>
	<script src="{% static "/js/vue.min.js" %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			axios.defaults.headers.common['X-CSRFTOKEN'] =
				document.querySelector("[name=csrfmiddlewaretoken]").value;
			app = new Vue({
				el: "#app",
				data: {
					queues: [],
					queue_id: null,
					tasks: [],
					task_id: null,
					details: "",
					form: {
						url: "",
						title: "",
						fields: []
					}
				},
				mounted () {
					this.listQueues();
				},
				methods: {
					listQueues: function () {
						self = this;
						axios.get("/api/queues/")
						.then(function (response) {
							self.queues = response.data;
						})
						.catch(function (error) {
							console.log(error);
						});
					},
					showCreateQueueModal() {
						this.form.url = "/api/queues/";
						this.form.title = "Add Queue";
						this.form.fields = [
							{name: "title", value: ""}
						];
						jQuery("#createModal").modal({});
					},
					showUpdateQueueModal(queue) {
						this.form.url = "/api/queues/" + queue.id + "/";
						this.form.title = "Update Queue";
						this.form.fields = [
							{name: "title", value: queue.title}
						];
						jQuery("#createModal").modal({});
					},
					handleModal() {
						jQuery("#createModal").modal("hide");
						var payload = {};
						for (field of this.form.fields) {
							payload[field.name] = field.value;
						}
						axios.post(this.form.url,
							payload
						)
						.then(function (response) {
							// TODO - different handlers based on modal type
							self.queues.push(response.data);
						})
						.catch(function (error) {
							console.log(error);
						});
					},
				},
				filters: {
					capitalize: function (value) {
						if (!value) return ''
						value = value.toString()
						return value.charAt(0).toUpperCase() + value.slice(1)
					}
				}
			});
		});
	</script>
	{% block bottom %}
		{% csrf_token %}
	{% endblock %}
</body>
</html>