{% load static %}
{% load date_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static "/fontawesome/css/all.css" %}" >
	<link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/css/style.css" %}"></link>
	<title>{% block title %}Tasks{% endblock %}</title>
	{% block head %}{% endblock %}
</head>
<body class="background-color: bg-dark">
	<span id="app">
		<nav class="nav bg-secondary text-white mb-3">
			{% if user.is_authenticated %}
				{% verbatim %}
				<div v-for="listWorkspace in workspaces" v-bind:class="[listWorkspace.id == workspace.id ? 'bg-dark' : 'bg-secondary', 'btn text-white px-2 rounded-0']" v-on:click="selectWorkspace(listWorkspace)">
					<span class="align-middle">
						{{ listWorkspace.title }}
					</span>
				</div>
				<div class="btn" v-on:click="showCreateWorkspaceModal"><i class="fa fa-plus-circle text-white" ></i></div>
				<div v-if="workspace.id">
					<div class="btn" v-on:click="showUpdateWorkspaceModal"><i class="fa fa-pen text-white" ></i></div>
					<div class="btn" v-on:click="showDeleteWorkspaceModal"><i class="fa fa-times-circle text-white" ></i></div>
				</div>
				<div style="margin-left: auto">
					<i v-if="saving" class="text-white btn fa fa-spin fa-save" ></i>
				</div>
				{% endverbatim %}
				<div class="text-dark">
					<p class="m-2">Welcome, {{ user.username }}. Thanks for logging in.</p>
				</div>
			{% else %}
				<div class="text-dark" style="margin-left: auto">
					<a class="m-2" href="/api-auth/login">Login</a>
				</div>
			{% endif %}
		</nav>
		{% verbatim %}
		<div class="container-fluid">
			<div class="row fullheight">
				<div class="col-sm-2 bg-dark ps-3 pe-0">
					<div v-for="listQueue in queues" v-bind:class="[listQueue.id == queue.id ? 'bg-primary' : 'bg-secondary', 'p-2 mb-2']">
						<div class="col-sm-12 d-flex cursor-pointer text-white" v-on:click="selectQueue(listQueue)">
							<span style="margin-right: auto" class="cursor-pointer">{{ listQueue.title }}</span>
						</div>
					</div>
					<div v-if="workspace.id">
						<div class="btn" v-on:click="showCreateQueueModal()"><i class="fa fa-plus-circle text-white" ></i></div>
						<div v-if="queue.id" class="btn" v-on:click="showUpdateQueueModal(queue)"><i class="fa fa-pen text-white" ></i></div>
						<div v-if="queue.id" class="btn" v-on:click="showDeleteQueueModal(queue)"><i class="fa fa-times-circle text-white" ></i></div>
					</div>
				</div>
				<div v-if="queue.id" class="col-sm-2 bg-primary pe-0">
					<div v-for="listTask in tasks" v-bind:class="[listTask.id == task.id ? 'bg-info' : 'bg-secondary', 'p-2 mt-2']">
						<div class="col-sm-12 d-flex cursor-pointer text-white" v-on:click="selectTask(listTask)">
							<span style="margin-right: auto" class="cursor-pointer">{{ listTask.title }}</span>
						</div>
					</div>
					<div v-if="queue.id" class="mt-2">
						<div class="btn btn-success col-sm-12 rounded-0" v-on:click="addTask">Add</div>
					</div>
				</div>
				<div v-if="task.id" class="col-sm-8 bg-info">
					<div class="d-flex my-2 text-white">
						<input class="form-control" style="margin-right: auto" v-model="task.title">
						<div class="btn text-white" v-on:click="showRemoveTaskModal(task)"><i class="fa fa-times-circle" ></i></div>
					</div>
					<div class="d-flex h-75 text-white">
						<textarea class="form-control w-100 h-100" v-if="task" v-model="task.details">
						</textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="false">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="createModalLabel">{{ form.title }}</h5>
					</div>
					<div v-if="form.fields.length" class="modal-body">
						<div class="form-group" v-for="field in form.fields">
							<label for="{{ field.name }}">{{ field.name | capitalize }}</label>
							<input type="text" v-model="field.value" class="form-control" v-bind:id="'form_' + field.name" aria-describedby="{{ field.name }}" v-bind:placeholder="'Enter ' + field.name">
						</div>
					</div>
					<div class="modal-footer">
						<button v-for="button in form.buttons" type="button" class="btn btn-primary" v-on:click="handleModal(button)">{{ button.title }}</button>
						<button type="button" class="btn btn-secondary" v-on:click="handleModal()">Close</button>
					</div>
				</div>
			</div>
		</div>
		{% endverbatim %}*
	</span>
	<script src="{% static "/js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "/js/bootstrap.min.js" %}"></script>
	<script src="{% static "/js/moment-with-locales.min.js" %}"></script>
	<script src="{% static "/js/vue.min.js" %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			axios.defaults.headers.common['X-CSRFTOKEN'] =
				document.querySelector("[name=csrfmiddlewaretoken]").value;
			app = new Vue({
				el: "#app",
				data: {
					workspaces: [],
					workspace: {},
					queues: [],
					queue: {},
					tasks: [],
					task: {},
					taskSaveDict: {},
					saving: false,
					form: {
						title: "",
						fields: [],
						buttons: []
					}
				},
				mounted () {
					this.listWorkspaces();
					this.timer = setInterval(this.saveChangedTasks, 10000);
				},
				methods: {
					selectWorkspace(workspace) {
						this.workspace = workspace;
						this.queue = {};
						this.task = {};
					},
					selectQueue(queue) {
						this.queue = queue;
						this.task = {};
					},
					selectTask(task) {
						this.task = task;
					},
					refreshData(array, url) {
						var self = this;
						axios.get(url)
						.then(function (response) {
							self[array] = response.data;
						})
						.catch(function (error) {
							console.log(error);
						});
					},
					listWorkspaces() {
						this.refreshData(
							"workspaces",
							"/api/workspaces/"
						);
					},
					listQueues() {
						this.refreshData(
							"queues",
							`/api/workspaces/${this.workspace.id}/queues/`
						);
					},
					listTasks() {
						this.refreshData(
							"tasks",
							`/api/queues/${this.queue.id}/tasks/`
						);
					},
					showCreateWorkspaceModal() {
						this.form = {
							title: "Add Workspace",
							fields: [
								{name: "title", value: ""}
							],
							callback: this.listWorkspaces,
							buttons: [
								{
									title: "Add",
									method: "post",
									url: "/api/workspaces/"
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					showUpdateWorkspaceModal() {
						// Just update the list with the new data
						// and make sure to update the selected item too
						var self = this;
						function refreshSelectedWorkspace(response) {
							data = response.data;
							for (var index in self.workspaces) {
								if (self.workspaces[index].id == data.id) {
									self.workspaces[index] = data;
									self.workspace = self.workspaces[index];
									break;
								}
							}
						}
						this.form = {
							title: "Edit " + this.workspace.title,
							fields: [
								{name: "title", value: this.workspace.title}
							],
							callback: refreshSelectedWorkspace,
							buttons: [
								{
									title: "Update",
									method: "put",
									url: `/api/workspaces/${this.workspace.id}/`
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					showDeleteWorkspaceModal() {
						this.form = {
							title: "Delete " + this.workspace.title,
							fields: [],
							callback: this.listWorkspaces,
							buttons: [
								{
									title: "Delete",
									method: "delete",
									url: `/api/workspaces/${queue.id}/`
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					showCreateQueueModal() {
						this.form = {
							title: "Add Queue",
							fields: [
								{name: "title", value: ""}
							],
							callback: this.listQueues,
							buttons: [
								{
									title: "Add",
									method: "post",
									url: `/api/workspaces/${this.workspace.id}/queues/`
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					showUpdateQueueModal(queue) {
						this.form = {
							title: "Update Queue",
							fields: [
								{name: "title", value: queue.title}
							],
							callback: this.listQueues,
							buttons: [
								{
									title: "Update",
									method: "put",
									url: `/api/queues/${queue.id}/`
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					showDeleteQueueModal(queue) {
						this.form = {
							title: "Delete " + queue.title,
							fields: [],
							callback: this.listQueues,
							buttons: [
								{
									title: "Delete",
									method: "delete",
									url: `/api/queues/${queue.id}/`
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					addTask() {
						self = this;
						axios({
							method: "post",
							url: `/api/queues/${this.queue.id}/tasks/`,
							data: {title: "New task"}
						})
						.then(function (response) {
							len = self.tasks.push(response.data);
							self.task = self.tasks[len-1];
						})
						.catch(function (error) {
							console.log(error);
						});
					},
					saveTask(task) {
						axios({
							method: "put",
							url:  `/api/tasks/${task.id}/`,
							data: task
						})
						.then(function (response) {
						})
						.catch(function (error) {
							console.log(error);
						});
					},
					showSaveSpinner() {
						this.saving = true;
						setTimeout(() => {this.saving = false}, 1000);
					},
					saveChangedTasks() {
						if (Object.keys(this.taskSaveDict).length) {
							this.showSaveSpinner();
							for (var key in this.taskSaveDict) {
								this.saveTask(this.taskSaveDict[key]);
							}
							this.taskSaveDict = {};
						}
					},
					showRemoveTaskModal(task) {
						this.form = {
							title: "Remove Task From Queue",
							fields: [],
							callback: this.listTasks,
							buttons: [
								{
									title: "Remove",
									method: "delete",
									url: "/api/queues/" + this.queue.id + "/tasks/" + task.id + "/"
								},
								{
									title: "Remove from all",
									method: "delete",
									url: "/api/tasks/" + task.id + "/"
								}
							]
						}
						jQuery("#createModal").modal("show");
					},
					handleModal(button) {
						jQuery("#createModal").modal("hide");
						if (!button) {
							return;
						}
						var payload = {};
						for (field of this.form.fields) {
							payload[field.name] = field.value;
						}
						self = this;
						axios({
							method: button.method,
							url: button.url,
							data: payload
						})
						.then(function (response) {
							self.form.callback(response);
						})
						.catch(function (error) {
							console.log(error);
						});
					},
				},
				filters: {
					capitalize: function (value) {
						if (!value) return ''
						value = value.toString()
						return value.charAt(0).toUpperCase() + value.slice(1)
					}
				},
				watch: {
					workspace: function (n, o) {
						if (n.id && (n.id != o.id)) {
							this.listQueues();
						}
					},
					queue: function (n, o) {
						if (n.id && (n.id != o.id)) {
							this.listTasks();
						}
					},
					task: {
						handler(newTask, oldTask) {
							// Check that the change is not due to selecting
							// a different task but instead due to some typing
							if (newTask.id && (oldTask.id == newTask.id)) {
								this.taskSaveDict[newTask.id] = newTask;
							}
						},
						deep:true
					}
				},
			});
		});
	</script>
	{% block bottom %}
		{% csrf_token %}
	{% endblock %}
</body>
</html>